#ignore these
*

#include these
!.gitignore
!Makefile
!/philo_bonus/
!philo_bonus/src
!philo_bonus/src/*.c
!philo_bonus/src_bonus
!philo_bonus/src_bonus/*.c
!philo_bonus/include
!philo_bonus/include/*.h
!philo_bonus/include_bonus
!philo_bonus/include_bonus/*.h
!philo_bonus/doc
!philo_bonus/doc/*.pdf
!philo_bonus/doc/*.txt
!philo_bonus/trash
!philo_bonus/trash/*
!philo_bonus/test
!philo_bonus/test/*
!/philo/
!philo/src
!philo/src/*.c
!philo/src_bonus
!philo/src_bonus/*.c
!philo/include
!philo/include/*.h
!philo/include_bonus
!philo/include_bonus/*.h
!philo/doc
!philo/doc/*.pdf
!philo/doc/*.txt
!philo/trash
!philo/trash/*
!philo/test
!philo/test/*
